body{
	background-color: aquamarine;
	border: solid black;
	text-align: center;
}
h2{
	color: white;
	border: solid black;
	border-radius: 20px;
	background-color: darkblue;
}
p{
	font-size: 20px;
}
img{
	width: 200px;
	margin-top: 30px;
	border-radius: 50%;
	border: solid green;
}
